
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #daf1f0;
}

.heart{
    height: 140px;
    width: 140px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg) scale(2);
    box-shadow: -10px 10px 150px #f20044;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart:before{
    content: '';
    position: absolute;
    height: 140px;
    width: 140px;
    background: #f20044;
    top: -70px;
    left: 0;
    border-radius: 50%;
    box-shadow: -10px -10px 150px #f20044;
}
.heart:after{
    content: '';
    position: absolute;
    height: 140px;
    width: 140px;
    background: #f20044;
    left: 70px;
    top: 0;
    border-radius: 50%;
    box-shadow: 10px 10px 150px #f20044;
}

h1{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    vertical-align: bottom;
    bottom: -200px;
    right: 100px;
    font-style: oblique;
}

h2{
     color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    vertical-align: bottom;
    bottom: -250px;
    right: 100px;
    font-style: oblique;
}